
body{

  font-family: sans-serif;
  margin-left: auto;
  margin-right: auto;
  width: 1024px;
  background-color: silver;
}

.mainheader{
  width: 250px;
  border: 5px solid silver;
  padding: 5px;
  margin: 5px;
  margin-top: 50px;
  color: rgb(77, 43, 54);
}

* img {
width: 66%;
border-radius: 10px;
float: left;
background-color: silver;
}

.clearfix {
  overflow: auto;
}
ul {
  list-style-type:none;
  margin: 5px;
  padding: 5px;
  overflow: hidden;
  background-color: silver;
  float: left;
  width: 250;
}

li {
  float: left;
}

li a {
  display: inline-block;
  color: rgb(54, 31, 31);
  text-align: center;
  padding: 14px 16px;
  text-decoration:initial;
  background-color: silver;

}

li a:hover {
  background-color: silver;
  
}

li a:active {
  background-color:silver;
  
}

.h2{
font-size: 15px;
width: 630px;
border: 5px  silver;;
padding: 5px;
margin: 5px;
float: left;
text-align: center;
color: rgb(187, 100, 100);
}

.text1{
  width: 30%;
  border: 5px solid silver;;
  margin: 5px;
  padding: 5px;
  float: left;
  text-align: left;
  text-decoration:initial;
  width: 250;
  color: rgb(77, 77, 158);
}
.text2{
  width: 30%;
  border: 5px solid silver;;
  padding: 5px;
  margin: 5px;
  float: left;
  text-align:left;
  text-decoration:initial;
  width: 250;
  position: relative;
  color: rgb(77, 77, 158);
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.side{
  width: 15%;
  border: 5px  silver;
  padding: 5px;
  float: right;
  margin-right: auto;
  color: rgb(61, 49, 49);

}

.russia{
  widows: 5%;
  border: 5px  silver;
  padding: 5px;
  float: left;
  position:relative;
  color: blueviolet;
}
.canada{
  widows: 5%;
  border: 5px  silver;
  padding: 5px;
  float: left;
  position:relative;
  color: blueviolet;

}
.United{
  widows: 5%;
  border: 5px  silver;
  padding: 5px;
  float: left;
  position:relative;
  color: blueviolet;
}

footer{
  margin-block-end: 10px;
  width: auto;
  height: 50px;
  margin-top: 750px;
  background-color: silver;
  border: 2px  black;
  padding: 10px;
  font-size: 1.2em;
  color: royalblue;
  text-align: center;
}