ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
  }
  
  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  

  li a:hover {
    background-color: #555;
    color: white;
  }
  h1{

    color: rgb(32, 3, 138);
  }

  h2{

    color: rgb(95, 208, 243);
  }
  h3{

    color: rgb(95, 208, 243);
  }

  footer{

    color: rgb(40, 2, 253);
  }
